<strong>{{title}}</strong> <em>{{calories}} Calories</em>
<a href="/post/{{id}}" class="secondary-content">
<button class="delete-btn btn red">
<i class="fa fa-remove"></i>
&nbsp;&nbsp; Delete Meal
</button>
	<i class="fa fa-pencil"></i>
</a>