<li class="collection-item" id="item-0">
	<strong>{{title}}</strong> <em>{{calories}} Calories</em>
	<a id='{{id}}' href="/post/{{id}}" class="post-id secondary-content">
		<i id="delete-meal" class="fa fa-trash"></i>
		<i id="edit-post" class="fa fa-pencil"></i>
	</a>
</li>