<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Calorie tracker</title>
		<link rel="stylesheet" href="/materialize/css/materialize.css" />
		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous"
		/>
		<script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.4/jquery.min.js"></script>

	</head>
	<body class="background grey lighten-1">
		<!-- Nav bar -->
		<nav>
			<div class="nav-wrapper grey darken-3">
				<div class="container">
					<a href="/" class="brand-logo center">Quick Track</a>
					<ul class="right row .col.pull-s11">
						<a href="" class="clear-btn btn blue">Clear all</a>
                        {{#if loggedIn}}
                        <button id="logout" class="btn blue">logout</button>
                        {{else}}
                        <a href="/login" class="btn blue">login</a>
                        {{/if}}
					</ul>
				</div>
			</div>
		</nav>
		<br />

		<!-- Container -->
        {{{ body }}}

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<script
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"
		></script>

        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
		<script src="/materialize/js/materialize.js"></script>
		<script src="/javascript/script.js"></script>
	</body>
</html>
