<div class="container">
  <div class="card z-depth-5">
    <div class="card-content">
      <article>
        <a class="add-btn btn-small blue z-depth-2" href="/"> &larr; Back to homepage</a>
        <h2 class="center">
        Edit Meal
        </h2>
        <form class="edit-post-form">
          <div>
              <input name="post-title" type="text" value="{{post.title}}" />
              <input name="post-calories" type="text" value="{{post.calories}}" />
          </div>
          <button class="edit-post add-btn btn-small blue z-depth-2" type="submit"><i class="fa fa-plus"></i>Save post</button>
        </form>
      </article>
    </div>
  </div>
</div>

<!--Scripts-->
<script src="/javascript/edit.js"></script>