<article>
  <a href="/"> &larr; Back to homepage</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post-calories" type="text" value="{{post.calories}}" />
    </div>
    <button class="edit-post" type="submit">Save post</button>
  </form>
</article>

<!--Scripts-->
<script src="/javascript/edit.js"></script>